<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="Oborydovanue_Manager.Properties.Settings.ArendaConnectionString" connectionString="Data Source=MAKKI\SQLEXPRESS;Initial Catalog=Arenda;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="ArendaEntities" connectionString="metadata=res://*/DataBase.ModelOborudovanie.csdl|res://*/DataBase.ModelOborudovanie.ssdl|res://*/DataBase.ModelOborudovanie.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAKKI\SQLEXPRESS;initial catalog=Arenda;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>